<ul class="nav bg-dark"">
  <li class="nav-item">
    <a class="nav-link text-white" href="/cadastroCandidato">cadastar canditado</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white"  href="/listarCandidatos">Listar Candidatos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="/usuarios/logout">Sair do sistema</a>
  </li>
</ul>